
/*expansion panels*/

.app-headers-align .mat-expansion-panel-header-title,
.app-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.app-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.app-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}


/* Social Icons */

.fixed-left-socials {
	bottom: 0;
	position: fixed;
	right: 15px;
	top: 200px;
	z-index: 5;
}
.fixed-left-socials ul {
    list-style: outside none none;
    padding: 0;
}
.fixed-left-socials li {
    margin: 5px 0;
}
.list-unstiled i {
  border-radius: 30px;
  color: #fff;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  transition: all 300ms ease 0s;
  width: 25px;
}
.list-unstiled .fa-github {
  background: #464646 none repeat scroll 0 0;
}
.list-unstiled .fa-facebook {
  background: #2f5a9a none repeat scroll 0 0;
}

.list-unstiled .fa-twitter {
  background: #3abdd1 none repeat scroll 0 0;
}

.list-unstiled .fa-google-plus {
  background: #c63b1e none repeat scroll 0 0;
}

.list-unstiled .fa-linkedin {
  background: #097fc3 none repeat scroll 0 0;
}

.list-unstiled .fa-instagram {
  background: #3a6883 none repeat scroll 0 0;
}

.list-unstiled .fa-skype {
  background: #00aff0 none repeat scroll 0 0;
}

