/* Social Icons */

.fixed-right-socials {
	bottom: 0;
	position: fixed;
	right: 15px;
	top: 15%;
	z-index: 9;
}
.fixed-right-socials ul {
    list-style: outside none none;
    padding: 0;
}
.fixed-right-socials li {
    margin: 9px 0;
}
.list-unstiled i {
  border-radius: 30px;
  color: #fff;
  font-size: 12px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  transition: all 300ms ease 0s;
  width: 23px;
}
.list-unstiled .fa-github {
  background: #464646 none repeat scroll 0 0;
}
.list-unstiled .fa-facebook {
  background: #2f5a9a none repeat scroll 0 0;
}

.list-unstiled .fa-twitter {
  background: #3abdd1 none repeat scroll 0 0;
}

.list-unstiled .fa-google-plus {
  background: #c63b1e none repeat scroll 0 0;
}

.list-unstiled .fa-linkedin {
  background: #097fc3 none repeat scroll 0 0;
}

.list-unstiled .fa-instagram {
  background: #3a6883 none repeat scroll 0 0;
}

.list-unstiled .fa-skype {
  background: #00aff0 none repeat scroll 0 0;
}
