<h2 class="mat-h2 mt-4 mb-4">Publications</h2>
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
  <ng-container *ngFor="let publication of publications">
    <mat-card [class.mat-elevation-z6]="true" class="mb-2" fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <mat-card-title>
          <a href="{{publication.url}}">{{publication.title}}</a>
        </mat-card-title>
        <mat-card-subtitle>Published by: {{publication.journal}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{publication.abstract}}</p>
        <img mat-card-image src="{{publication.imgUrl}}" alt="{{publication.title}} screenshot">
      </mat-card-content>
      <mat-card-footer>
        <p>{{publication.bibcode}}</p>
      </mat-card-footer>
    </mat-card>
  </ng-container>
</div>
