.tech-box {
    margin-bottom: 30px;
    width: auto;
}
.thumbnails {
    text-align: center;
}
.thumbnails .thumbnail {
    display: inline-block; margin: 0 0px; border: none;
}
.img-thumbnail {
    background-color: rgba(0, 0, 0, 0.0);
    max-height: 50px;
    width:auto;
    border: none;
}