<div fxLayout="column">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="100%">
            <div class="container">
                <div class="tech-box">
                    <div class="thumbnails">
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images/xcode.png" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images/visual-studio.png" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images/visual-studio-code.png" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images//android-studio.png" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images/net-beans.png" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images/bash.png" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images/azure.png" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images/google-analytics.png" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images/google-cloud.png" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images/firebase.png" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images/github.png" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images/outsystems.jpeg" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images/raspberry-pi.svg" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/images/angular.png" alt="">
                        </div>
                        <div class="thumbnail">
                            <img class="img-fluid img-thumbnail" src="assets/image/sreact.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div flexLayout="row">
    <div fxLayout="column">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="33%">
                <h4>C/C++</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                </div>
                <h4>C# / Razor</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
                </div>
            </div>
            <div flexorder="2" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="33%">
                <h4>Fortran 77/90</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
                </div>
                <h4>Objective-C</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
                </div>
            </div>
            <div flexorder="3" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="33%">
                <h4>Swift</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                </div>
                <h4>MS-SQL / MySQL / SQLite</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>

<div flexLayout="row">
    <div fxLayout="column">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="33%">
                <h4>HTML5</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
                </div>
                <h4>CSS / SCSS / SASS</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="33%">
                <h4>Java</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
                </div>
                <h4>JavaScript / AngularJS / ReactJS</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="33%">
                <h4>Typescript / Angular / React</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                </div>
                <h4>TeX</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>
<div flexLayout="row">
    <div fxLayout="column">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="33%">
                <h4>Bash</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
                </div>
                <h4>.NET / ASP.NET</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="33%">
                <h4>NCL</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                </div>

                <h4>Kotlin</h4>
                <div class="mb-2">
                    <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>