<mat-vertical-stepper>
  <mat-step>
    <ng-template matStepLabel>
      <div class="mat-step-custom-click"><span>2019</span></div>
    </ng-template>
    <ng-template matStepperIcon=edit><fa-icon [icon]="industry"></fa-icon></ng-template>
    <ng-template matStepperIcon=done><fa-icon [icon]="industry"></fa-icon></ng-template>
    <mat-card class="mt-2">
      <mat-card-header>
        <mat-card-title>
          <a href="https://www.guerreroimports.com/" target="_blank" rel="noopener">Guerrero Floral and Sea Designs S. de R.L. de C.V.</a></mat-card-title>
        <mat-card-subtitle>Gerente de Sistemas de Información.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image class="business-image" alt="logo de empresa Guerrero Floral"
          src="assets/images/guerrero_floral.png">
        <p>An&aacute;lisis y reestructuraci&oacute;n de procesos de producci&oacute;n,
          control de mermas y manejo de personal implementando tecnolog&iacute;as de la
          informaci&oacute;n.</p>
      </mat-card-content>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>2018</ng-template>
    <mat-card class="mt-2">
      <mat-card-header>
        <mat-card-title>
          <a href="http://grupookunoba.com/site/" target="_blank" rel="noopener">Grupo Okunoba S.A. de C.V.</a>
        </mat-card-title>
        <mat-card-subtitle>Desarrollador .NET
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image class="business-image"
             alt="logo de empresa Grupo Okunoba"
             src="assets/images/okunoba.png">
        <p>An&aacute;lisis, diseño, desarrollo e implementaci&oacute;n de un sistema
          personalizado para el control de inventarios para el uso dentro de la empresa con usuarios,
          roles y restricciones.
          Tecnolog&iacute;as usadas: Microsoft .NET Core, Microsoft SQL Server, Apache2.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> <span class="">2017 - 2018</span></ng-template>
    <mat-card class="mt-2">
      <mat-card-header>
        <mat-card-title>
          <a href="https://www.softtek.com/es/" target="_blank" rel="noopener">Softtek</a>
        </mat-card-title>
        <mat-card-subtitle>Desarrollador Jr.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image class="business-image"
        alt="logo de empresa Softtek"
         src="assets/images/softtek.gif">
        <p>An&aacute;lisis, diseño en implementaci&oacute;n de un sistema administrativo para
          restaurantes (backoffice y aplicación m&oacute;vil)
          Tecnologias usadas: OutSystems, Microsoft Teams, ASP.NET, NodeJS, AngularJS, MonoDevelop.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> <span class="">2017</span></ng-template>
    <mat-card class="mt-2">
      <mat-card-header>
        <mat-card-title>
          <a href="https://www.freelancer.com/" target="_blank" rel="noopener">Freelancer.com</a>
        </mat-card-title>
        <mat-card-subtitle>Desarrollador de Android</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image class="business-image" alt="logo de empresa Freelancer.com"
        src="assets/images/freelancer.png">
        <p>Desarrollo de una aplicaci&oacute;n m&oacute;vil para Android usando Google Maps API en
          Android Studio.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> <span class="">2015 - 2016</span></ng-template>
    <mat-card class="mt-2">
      <mat-card-header>
        <mat-card-title>
          <a href="http://www.fciencias.unam.mx/directorio/83353" target="_blank" rel="noopener">Universidad Nacional Aut&oacute;noma de M&eacute;xico</a></mat-card-title>
        <mat-card-subtitle>
            Profesor de Asignatura A - Departamento de F&iacute;sica
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image class="business-image" alt="logo de la facultad de ciencias UNAM"
         src="assets/images/logoFC.svg">
        <p>Profesor de la Facultad de Ciencias en la asignatura Modelaci&oacute;n Clim&aacute;tica de la
          Licenciatura en Ciencias de la Tierra.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> <span class="">2013 - 2015</span></ng-template>
    <mat-card class="mt-2">
      <mat-card-header>
        <mat-card-title>
          <a href="https://sites.google.com/site/nuplespa/" target="_blank" rel="noopener">Bachillerato no Escolarizado para Estudiantes con Discapacidad (BNEED)</a></mat-card-title>
        <mat-card-subtitle>
          Profesor en el &aacute;rea de Ciencias.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image class="business-image" alt="logo de BENED"
         src="assets/images/caed.png">
        <p>Profesor en las materias de F&iacute;sica, Matem&aacute;ticas y Qu&iacute;mica en el Centro de
          Atenci&oacute;n a Estudiantes con Discapacidad (CAED)
          del sistema de Preparatoria Abierta de la Direcci&oacute;n General de Bachillerato de la Secretear&iacute;a de
          Educaci&oacute;n P&uacute;blica (DGB-SEP).
        </p>
      </mat-card-content>
    </mat-card>
  </mat-step>
</mat-vertical-stepper>


<div class="container">
  <mat-tab-group animationDuration="1000ms" mat-align-tabs="center">
    <mat-tab label="Docencia">
      <mat-grid-list cols="2">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{card.title}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>Card Content Here</div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Industria">
      <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{card.title}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>Card Content Here</div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</div>
