.sidenav-container {
  height: 100%;
  flex: 1 1 auto;
}

.sidenav {
  width: auto;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
/*
.avatar-container {
display: inline;
}

.user-pic {
  border-radius: 140px;
  padding-left: 10px;
}
 */
