
.sidenav-container {
  height: 100%;
  flex: 1 1 auto;
}

.sidenav {
  width: auto;
}

.sidenav .mat-toolbar {
  background: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fill-space {
  flex: 1 1 auto;
}

.signature {
  height: 48px;
  width: auto;
}
