<h2 class="mat-h2 mt-4 mb-4">IDE &amp; environments</h2>
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
  <mat-chip-list *ngFor="let env of envs">
       <mat-chip class="mb-2" [removable]="true" (removed)="remove(env)">
        <img matChipAvatar src="{{env.src}}" alt="{{env.name}} icon"> {{env.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
   </mat-chip-list>
</div>

<h2 class="mat-h2 mt-4 mb-4">Languages &amp; scripting</h2>
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
  <ng-container *ngFor="let lang of langs">
    <mat-card class="mb-2" fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <mat-card-title>
          {{lang.name}}
        </mat-card-title>
        <mat-card-subtitle>{{lang.rate}}%</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-progress-bar mode="determinate" value="{{lang.rate}}"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
