<mat-vertical-stepper>
  <mat-step>
    <ng-template matStepLabel>Doctorado <span class="">(2016 - actual)</span></ng-template>
    <mat-card class="mt-2">
      <mat-card-header>
        <img mat-card-avatar src="assets/images/unam.png">
        <img mat-card-avatar src="assets/images/cca.png">
        <mat-card-title>Universidad Nacional Aut&oacute;noma de M&eacute;xico</mat-card-title>
        <mat-card-subtitle>Centro de Ciencias de la Atm&oacute;sfera CCA-UNAM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Doctorado en Ciencias de la Tierra con especialidad en Ciencias Atmosf&eacute;ricas, Planetarias y
          Espaciales.</p>
        <p>An&aacute;lisis, diseño e implementaci&oacute;n de un
          <a target="_blank"
            href="https://dgapa.unam.mx/images/papiit/transparencia/proyxanio/2018/IN102415_Informe_Final_2015.pdf">modelo
            termodin&aacute;mico de clima</a> a escala global.</p>
      </mat-card-content>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Maestr&iacute;a <span class="">(2011-2013)</span></ng-template>
    <mat-card class="mt-2">
      <mat-card-header>
        <img mat-card-avatar src="assets/images/unam.png">
        <img mat-card-avatar src="assets/images/cca.png">
        <mat-card-title>Universidad Nacional Aut&oacute;noma de M&eacute;xico</mat-card-title>
        <mat-card-subtitle>Centro de Ciencias de la Atm&oacute;sfera CCA-UNAM
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!--   <p>Grupo de Modelos Clim&aacute;ticos</p> -->
        <p>Maestr&iacute;a en Ciencias de la Tierra con especialidad en Ciencias Atmosf&eacute;ricas, Planetarias y
          Espaciales.</p>
        <p>Pron&oacute;stico estacional de temperatura y precipitaci&oacute;n usando el Modelo
          Termodin&aacute;mico de Clima con &eacute;nfasis en la Rep&uacute;blica Mexicana.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Licenciatura <span class="">(2004-2009)</span></ng-template>
    <mat-card class="mt-2">
      <mat-card-header>
        <mat-card-title>Universidad Aut&oacute;noma de Baja California</mat-card-title>
        <mat-card-subtitle>Facultad de Ciencias</mat-card-subtitle>
        <img mat-card-avatar src="assets/images/uabc.png">
      </mat-card-header>
      <mat-card-content>
        <p>Licenciatura en F&iacute;sica.</p>
      </mat-card-content>
    </mat-card>
  </mat-step>
</mat-vertical-stepper>
