/*expansion panels*/

.app-headers-align .mat-expansion-panel-header-title,
.app-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.app-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.app-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}
