<div class="container">
  <div class="row">
    <div class="mt-2 ml-2 mr-2">
      <mat-accordion class="app-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Descripci&oacute;n</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Especialista en modelado computacional de fen&oacute;menos clim&aacute;ticos, c&aacute;lculo
            num&eacute;rico y an&aacute;lisis de datos.
            Creador y desarrollador de software en m&uacute;ltiples plataformas y lenguajes, con experiencia en
            projectos <strong>DevOps</strong>.
            Habituado al trabajo bajo los m&eacute;todos <strong>Scrumb</strong> y <strong>Agile</strong>,
            apegados a la cultura de servicio. Preferencia por proyectos que se venefician
            de metodolog&iacute;as para la reducci&oacute;n de defectos <strong>Six-Sigma</strong></p>
        </mat-expansion-panel>


        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Datos Personales</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          Direccion:
          Tel&eacute;fonos:
          Estado civil:
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Servicios</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="row">
            <div fxLayout="column">
              <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="25%">
                  <div class="container">
                    <!-- Service box 1 -->
                    <div class="service-box">
                      <div>
                        <i class="icon icon_building_alt"></i>
                      </div>
                      <div>
                        <h3>Desarrollo en negocios</h3>
                        <p>Analista y desarrollador de sistemas de inventarios
                          y trazabilidad de productos, aplicaciones de control de personal,
                          puntos de venta y servicios administrativos.
                          Creaci&oacute;n, migraci&oacute;n, respaldo y
                          optimizaci&oacute;n de bases de datos.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div flexorder="2" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="25%">
                  <div class="container">
                    <div class="service-box">
                      <div>
                        <i class="icon icon_mobile"></i>
                      </div>
                      <div>
                        <h3>Desarrollo</h3>
                        <p>Creaci&oacute;n de aplicaciones m&oacute;viles en iOS y Android.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="column">
              <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="25%">
                  <div class="container">
                    <!-- Service box 3 -->
                    <div class="service-box">
                      <div>
                        <i class="icon social_myspace"></i>
                      </div>
                      <div>
                        <h3>Conectividad y SEO</h3>
                        <p>Mercadotecnia de redes sociales, posicionamiento en motores de
                          b&uacute;squeda.
                          Servicios en nube como an&aacute;lisis de contenido, estad&iacute;sticas de
                          uso,
                          administraci&oacute;n del cliente.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div flexorder="2" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="25%">
                  <div class="container">
                    <!-- Service box 2 -->
                    <div class="service-box">
                      <div>
                        <i class="icon icon_pens"></i>
                      </div>
                      <div>
                        <h3>Docencia</h3>
                        <p>Clases particulares, creador de contenidos y educaci&oacute;n continua con
                          especialidad en ciencias exactas, filosof&iacute;a y tecnolog&iacute;as de
                          la
                          informaci&oacute;n. Atenci&oacute;n a estudiantes con discapacidad en lengua
                          de señas y braille.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- end row -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
