  <section id="edu">
    <div fxLayout="column">
        <div fxLayout="row" fxLayout.sm="colum" fxLayout.xs="column">
            <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="50%">
                <div class="container">
                
                </div>
            </div>
            <div flexorder="2" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="50%">
                <div class="container">
                
            </div>
            </div>
        </div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="50%">

                
            </div>
        </div>
    </div>
</section>