.login-wrapper .form{
  min-width: 100%;
  max-width: 200px;
  width: 100%;
}
.login-wrapper .full-width,.login-wrapper .btn-block{
  width:100%;
}
.login-wrapper .mat-card{
  padding: 40px 30px 30px;
}
.login-wrapper .mat-stroked-button{
  border: 2px solid currentColor;
}
