<mat-vertical-stepper>
  <mat-step>
    <ng-template matStepLabel>PhD. (2016 - actual)</ng-template>
    <ng-template matStepperIcon=edit><fa-icon [icon]="grad"></fa-icon></ng-template>
    <ng-template matStepperIcon=done><fa-icon [icon]="grad"></fa-icon></ng-template>
    <mat-card [class.mat-elevation-z6]="true" class="mt-2">
      <mat-card-header>
        <img mat-card-avatar src="assets/images/unam.png" alt="logo UNAM">
        <img mat-card-avatar src="assets/images/cca.png" alt="logo CCA-UNAM">
        <mat-card-title>Universidad Nacional Aut&oacute;noma de M&eacute;xico</mat-card-title>
        <mat-card-subtitle>Centro de Ciencias de la Atm&oacute;sfera CCA-UNAM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="card-container">
          <p>Doctorado en Ciencias de la Tierra.<br>
            <span class="text-grey">Especialidad en Ciencias Atmosf&eacute;ricas, Planetarias y
              Espaciales.</span></p>
          <p>An&aacute;lisis, diseño y construcci&oacute;n de un Modelo Termodin&aacute;mico de Clima Global para experimentos clim&aacute;ticos con el fen&oacute;meno de El Niño y La Niña en M&eacute;xico.
          </p>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="button-container">
          <button mat-button color="primary" (click)="showModal('project')">Project</button>
          <button mat-button color="primary" (click)="showModal('publish1')">Publication</button>
        </div>
      </mat-card-footer>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Master Degree (2011 - 2013)</ng-template>
    <mat-card [class.mat-elevation-z6]="true" class="mt-2">
      <mat-card-header>
        <img mat-card-avatar src="assets/images/unam.png" alt="logo UNAM">
        <img mat-card-avatar src="assets/images/cca.png" alt="logo CCA-UNAM">
        <mat-card-title>Universidad Nacional Aut&oacute;noma de M&eacute;xico</mat-card-title>
        <mat-card-subtitle>Centro de Ciencias de la Atm&oacute;sfera CCA-UNAM
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="card-container">
          <p>Maestr&iacute;a en Ciencias de la Tierra.<br>
            <span class="text-grey">Especialidad en Ciencias Atmosf&eacute;ricas, Planetarias y
              Espaciales.</span></p>
          <p>Pron&oacute;stico estacional de temperatura y precipitaci&oacute;n usando el<br>
            ModeloTermodin&aacute;mico de Clima con &eacute;nfasis en la Rep&uacute;blica Mexicana.
          </p>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="button-container">
          <button mat-button color="primary" (click)="showModal('thesis')">Thesis</button>
          <button mat-button color="primary" (click)="showModal('master')">Certificate</button>

        </div>
      </mat-card-footer>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Bachelor Degree (2004 - 2009)</ng-template>
    <mat-card [class.mat-elevation-z6]="true" class="mt-2">
      <mat-card-header>
        <mat-card-title>Universidad Aut&oacute;noma de Baja California</mat-card-title>
        <mat-card-subtitle>Facultad de Ciencias</mat-card-subtitle>
        <img mat-card-avatar src="assets/images/uabc.png" alt="logo UABC">
      </mat-card-header>
      <mat-card-content>
        <div class="card-container">
          <p>F&iacute;sico</p>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="button-container">
          <button mat-button color="primary" (click)="showModal('physics')">Certificate</button>
        </div>
      </mat-card-footer>
    </mat-card>
  </mat-step>
</mat-vertical-stepper>
