<div flexLayout="row">
    <div fxLayout="column">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="50%">
                <div class="container">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="http://www.letraslibres.com/sites/default/files/files6/files/lluvia_0.jpg" alt="">
                            <span class="card-title post-ver-date">
                                <span class="icon_calendar" aria-hidden="true"></span> Mayo 5,
                                2015</span>
                        </div>
                        <div class="blog-dis">
                            <h3>Predecir el futuro</h3>
                            <p>Dadas las condiciones actuales de la ciencia y la tecnolog&iacute;a, el
                                uso de herramientas meteorol&oacute;gicas
                                para observar variaciones en el clima puede, parad&oacute;jicamente,
                                nublar nuestro entendimiento del sistema clim&aacute;tico.</p>
                            <a class="btn btn-default" target="_blank"
                                href="https://www.letraslibres.com/mexico-espana/predecir-el-futuro-meteorologico">
                                Ir a publicaci&oacute;n</a>
                        </div>
                    </div>
                </div>
            </div>
            <div flexorder="2" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="50%">
                <div class="container">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="assets/images/huracanes.png" alt="">
                            <span class="card-title post-ver-date"><span class="icon_calendar"
                                    aria-hidden="true"></span> February 15, 2016</span>
                        </div>
                        <div class="blog-dis">
                            <h3>Seis preguntas sobre huracanes (para entenderlos mejor)</h3>
                            <p>¿C&oacute;mo funciona un hurac&aacute;n? ¿Se le puede predecir?
                                ¿Qu&eacute; es la escala Saffir-Simpson? Nuestra videoletrilla de
                                octubre aborda estas cuestiones b&aacute;sicas acerca de los huracanes,
                                en un mes en que hist&oacute;ricamente abundan tales fen&oacute;menos..
                            </p>
                            <a class="btn btn-default" target="_blank"
                                href="https://www.youtube.com/watch?v=WsWBxLh4OaM">
                                Ver video</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="50%">
                <div class="container">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="assets/images/ems.png" alt="">
                            <span class="card-title post-ver-date"><span class="icon_calendar"
                                    aria-hidden="true"></span> February 15, 2016</span>
                        </div>
                        <div class="blog-dis">
                            <h3>Parameterization of latent heat released by condensation for using in a
                                Global Thermodynamic Climate Model</h3>
                            <p>Memories of 16th EMS Annual Meeting & 11th European Conference on Applied
                                Climatology (ECAC).</p>
                            <a class="btn btn-default" target="_blank"
                                href="https://www.ems2016.eu/EMS2016_programme_book.pdf">
                                Leer</a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div flexorder="2" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="50%">
                <div class="container">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="assets/images/ems.png" alt="">
                            <span class="card-title post-ver-date"><span class="icon_calendar"
                                    aria-hidden="true"></span> February 15, 2016</span>
                        </div>
                        <div class="blog-dis">
                            <h3>Atmospheric response over Mexico and its adjacent seas to oceanic
                                surface forcing, using a Global Thermodynamic Model during El Niño
                                1982-83, 1997-98, 2015-16</h3>
                            <p>Memories of 16th EMS Annual Meeting & 11th European Conference on Applied
                                Climatology (ECAC).</p>
                            <a class="btn btn-default" target="_blank"
                                href="https://www.ems2016.eu/EMS2016_programme_book.pdf">
                                Leer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="50%">
                <div class="container">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="assets/images/eug.png" alt="">
                            <span class="card-title post-ver-date"><span class="icon_calendar"
                                    aria-hidden="true"></span>
                                February 15, 2016</span>
                        </div>
                        <div class="blog-dis">
                            <h3>Mid-troposphere temperature anomaly on the Gulf of Mexico induced by El
                                Niño</h3>
                            <p>EGU General Assembly 2016, held 17-22 April, 2016 in Vienna Austria, id.
                                EPSC2016-2024</p>
                            <a class="btn btn-default" target="_blank"
                                href="https://ui.adsabs.harvard.edu/abs/2016EGUGA..18.2024V/abstract">
                                Leer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div flexorder="2" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="50%">
                <div class="container">
                    <div class="blog-post">
                        <div class="blog-img">
                            <img src="assets/images/ugm.png" alt="">
                            <span class="card-title post-ver-date"><span class="icon_calendar"
                                    aria-hidden="true"></span>
                                February 15, 2016</span>
                        </div>
                        <div class="blog-dis">
                            <h3>Pron&oacute;stico estacional de temperatura y precipitaci&oacute;n
                                usando el Modelo Termodin&aacute;mico de Clima con &eacute;nfasis en la
                                Rep&uacute;blica Mexicana.</h3>
                            <p>Memorias del congreso de la Uni&oacute;n Geof&iacute;sica Mexicana</p>
                            <a target="_blank"
                                href="https://www.repositorionacionalcti.mx/recurso/573b554c-9261-4f1d-b33f-bec0f859d8e8"
                                class="btn btn-default">
                                Leer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="50%">
                <div class="container">
                    <div class="blog-post">
                        <div class="blog-post">
                            <div class="blog-img">
                                <img src="assets/images/2006-cnf-portada-mini.jpg" alt="">
                                <span class="card-title post-ver-date">
                                    <span class="icon_calendar" aria-hidden="true"></span>
                                    Octubre, 2006
                                </span>
                            </div>
                            <div class="blog-dis">
                                <h3>Evaluaci&oacute;n de la maduraci&oacute;n de frutos por t&eacute;cnicas
                                    de fotograf&iacute;a digital.</h3>
                                <p>Memorias del XLIX Congreso Nacional de Fı&iacute;sica de la Sociedad
                                    Mexicana de F&iacute;sica.</p>
                                <a target="_blank"
                                    href="http://www.smf.mx/wordpress/wp-content/uploads/2016/01/2006-cnf-memorias.pdf"
                                    class="btn btn-sm btn-outline-success">
                                    Leer
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div flexorder="2" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="50%">
                    <div class="container">
                        <div class="blog-post">
                            <div class="blog-img">
                                <img src="assets/images/cnf-2005-Portada-mini.jpg" alt="">
                                <span class="card-title post-ver-date">
                                    <span class="icon_calendar" aria-hidden="true"></span>
                                    Octubre, 2005
                                </span>
                            </div>
                            <div class="blog-dis">
                                <h3>Determinaci&oacute;n del grado de madurez de frutas y hortalizas
                                    mediante t&eacute;cnicas
                                    ac&uacute;sticas.</h3>
                                <p>Memorias del XLVIII Congreso Nacional de Fı&iacute;sica de la Sociedad
                                    Mexicana de F&iacute;sica.</p>
                                <a target="_blank"
                                    href="https://www.smf.mx/wordpress/wp-content/uploads/2016/01/2005-cnf.pdf"
                                    class="btn btn-sm btn-outline-success">
                                    Leer
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
