/* Portafolios */
.portfolio-background {
    padding: 100px 0 0;
}
.portfolio-background .section-title {
	display: inline-table;
	width: 100%;
}
.portfolio-background .section-title h2 {
    margin: 0;
}
.portfolioWrapper {
    padding: 0;
}
.portfolioWrapper img {
    width: 100%;
	transition: all 300ms ease-in-out 0s;
}
.portfolioWrapper .imageHover:hover {
      transform: scale(1.1);
    z-index: 999;
}
.portfolio-filter {
    margin-top: 25px;
}
.portfolio-filter ul li {
    display: inline-block;
    transition: all 0.1s linear 0s;
}
.portfolio-filter ul li, h4 {
    letter-spacing: 1px;
    text-transform: uppercase;
}
.imageHover span, .resume-box span {
    font-style: italic;
}
.portfolio-filter ul li:hover {
    border-color: #141414;
    cursor: pointer;
}
.portfolio-filter ul li.active {
    border-color: #141414;
}
