<div fxLayout="column">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="25%">
      <div class="container">
        <div class="imageWrapper">
          <img src="https://coronavirus-mx.web.app/assets/images/preview.png" alt="vista previa de coronavirus mx">
          <div class="">
            <h3>coronavirus-mx</h3>
            <span>Angular 8</span>
          </div>
          <div id="popup-1" class="mfp-hide popup-box">
            <img src="assets/images/coronavirus-mx-01.png" alt="captura de pantalla de Sitio coronavirus mx">
            <div>
              <h3><a href="https://coronavirus-mx.web.app">coronavirus-mx.web.app</a>
              </h3>
              <h4>Hospedada en Google Firebase Hosting</h4>
              <p>Aplicaci&oacute;n web construida en Angular 8 que conecta con
                diversas fuentes de datos
                para ofrecer un panorama estad&iacute;stico mundial del avance
                de la pandemia debida al
                coronavirus. Ofrece ademas enlaces e informaci&oacute;n
                m&aacute;s relevante focalizada
                en la Rep&uacute;blica Mexicana.
              </p>
            </div>
          </div>
          <!-- end popup content -->
        </div>
        <div class="imageWrapper">
          <a class="lightbox" href="#popup-2">
            <img src="https://juliomelchorpinto.github.io/covid19/screenshot02.png.png" alt="">
            <!-- Image 2 source -->
            <div class="imageHover">
              <div>
                <h3>covid19</h3>
                <span>React web application</span>
              </div>
            </div>
          </a>
          <!-- popup content -->
          <div id="popup-2" class="mfp-hide popup-box">
            <img src="assets/images/covid19-01.png" alt=""><!-- Image 2 source -->
            <div>
              <h3><a href="https://juliomelchorpinto.github.io/covid19">https://juliomelchorpinto.github.io/covid19</a>
              </h3>
              <h4>Hospedada en Github Pages</h4>
              <p>Aplicaci&oacute;n en tiempo real que conecta con API de datos y
                produce gr&aacute;ficos hist&oacute;ricos por
                pa&iacute;s de los principales marcadores de la pandemia por
                coronavirus. Implementa integraci&oacute;n continua.

              </p>
            </div>
          </div>
          <!-- end popup content -->
        </div>
      </div>
    </div>
    <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="25%">
      <div class="container">
        <div class="imageWrapper">
          <a class="lightbox" href="#popup-3">
            <img
              src="https://github.com/JulioMelchorPinto/beaverNet.InMemoryWebApp/blob/master/beaverNet.InMemoryWebApp/wwwroot/img/screenshot_A.png?raw=true"
              alt=""><!-- Image 3 source -->
            <div class="imageHover">
              <div>
                <h3>beaverNet - POS</h3>
                <span>.NET Core 3.1 web application</span>
              </div>
            </div>
          </a>
          <!-- popup content -->
          <div id="popup-3" class="mfp-hide popup-box">

            <img
              src="https://github.com/JulioMelchorPinto/beaverNet.InMemoryWebApp/blob/master/beaverNet.InMemoryWebApp/wwwroot/img/screenshot_A.png?raw=true"
              alt="first slide" style="display: block; width: 100%;">

            <img src="https://github.com/JulioMelchorPinto/beaverNet.POS.WebApp/wwwroot/img/screenshot-pos01.png"
              alt="first slide" style="display: block; width: 100%;">

            <img src="https://github.com/JulioMelchorPinto/beaverNet.POS.WebApp/wwwroot/img/screenshot-pos02.png"
              alt="first slide" style="display: block; width: 100%;">
            <div>
              <h3>beaverNet Point of Sales</h3>
              <p>Aplicaci&oacute;n demostrativa de un punto de venta para un
                negocio local, con autentificaci&oacute;n de usuarios y roles,
                productos, categorias e informe de ventas.</p>
            </div>
          </div>
          <!-- end popup content -->
        </div>
        <div class="imageWrapper">
          <a class="lightbox" href="#popup-4">
            <img src="assets/images/screenshot-layout02.png" alt="">
            <!-- Image 1 source -->
            <div class="imageHover">
              <div>
                <h3>Flex Layout</h3>
                <span>Angular 9 template</span>
              </div>
            </div>
          </a>
          <!-- popup content -->
          <div id="popup-4" class="mfp-hide popup-box">
            <img src="assets/images/screenshot-layout01.png" alt="">
            <!-- Image 1 source -->
            <div>
              <h3><a href="https://jmelchorp-layout.web.app">https://jmelchorp-layout.web.app</a>
              </h3>
              <h4>Hospedada en Google Firebase Hosting</h4>
              <p>Aplicaci&oacute;n web construida en Angular que funciona como
                plantilla para un <em>layout</em>
                cl&aacute;sico en desarrollo web.
              </p>
            </div>
          </div>
          <!-- end popup content -->
        </div>

      </div>
    </div>
    <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="25%">
      <div class="container">
        <div class="imageWrapper">
          <a class="lightbox" href="#popup-5">
            <img src="assets/images/screenshot-mdb02.png" alt="">
            <!-- Image 2 source -->
            <div class="imageHover">
              <div>
                <h3>Bootstrap Layout</h3>
                <span>Angular 9 / Material Design Bootstrap template</span>
              </div>
            </div>
          </a>
          <!-- popup content -->
          <div id="popup-5" class="mfp-hide popup-box">
            <img src="assets/images/screenshot-mdb01.png" alt="">
            <!-- Image 2 source -->
            <div>
              <h3><a href="https://jmelchorp-mdb.web.app">https://jmelchorp-mdb.web.app</a>
              </h3>
              <h4>Hospedada en Google Firebase Hosting</h4>
              <p>Aplicaci&oacute;n panel en Angular 8, Bootstrap y Material Design
                con usuarios y roles de administraci&oacute;n en Google
                Firebase.
                Inicio de sesi&oacute;n con correo electronico o redes sociales
                como Google, Facebook y Twitter .

              </p>
            </div>
          </div>
          <!-- end popup content -->
        </div>
        <div class="imageWrapper">
          <a class="lightbox" href="#popup-6">
            <img src="assets/images/screenshot-sb03.png" alt="">
            <!-- Image 3 source -->
            <div class="imageHover">
              <div>
                <h3>Bootstrap Dashboard</h3>
                <span>Angular 9 y Bootstrap</span>
              </div>
            </div>
          </a>
          <!-- popup content -->
          <div id="popup-6" class="mfp-hide popup-box">
            <img src="assets/images/screenshot-sb01.png" alt="">
            <!-- Image 3 source -->
            <div>
              <h3><a href="https://jmelchorp-sb.web.app">https://jmelchorp-sb.web.app</a>
              </h3>
              <p>Panel de administraci&oacute;n construido en angular 9 y
                Bootstrap.</p>
            </div>
          </div>
          <!-- end popup content -->
        </div>
      </div>
    </div>
  </div><!-- end row -->
</div>
